.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35%;
    padding-right: 1%;
}
h1{
    margin-top: 1rem;
    border: 1px solid rgb(148, 148, 148);
    padding: .2rem 10% ;
    border-radius: 5rem;
}




  