
<div class="container">
    <h1 class="mat-elevation-z8" > Gerenciador BDL</h1>  
      <button mat-icon-button class="mat-elevation-z8" [matMenuTriggerFor]="profileMenu" aria-label="profile">
        <mat-icon >manage_accounts</mat-icon>
      </button>      
      <mat-menu class="mat-elevation-z8 profile" #profileMenu="matMenu">
        <nav *ngIf="user" >
          <div class="user-info" disabled>
            {{ user.email }}
          </div>
               
        </nav>
        <button  mat-menu-item routerLink="myProfile/{{user.userId}}">
          <mat-icon>face</mat-icon>
          <span >Perfil</span>
        </button>        
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
</div>
