<div class="container">
  <!-- Conteúdo projetado (botão de menu) aparece aqui -->
  <ng-content></ng-content>
  
  <h1 class="mat-elevation-z8">Gerenciador BDL</h1>  
  
  <button mat-icon-button 
          class="profileMenu"
          [matMenuTriggerFor]="profileMenu" 
          aria-label="profile">
      <mat-icon>manage_accounts</mat-icon>
  </button>      
  <div class="profile"> 
  <mat-menu  #profileMenu="matMenu">
      <nav *ngIf="user">
          <div class="user-info" disabled>
              {{ user.email }}
          </div>
      </nav>
      <button class="enterProfile" mat-menu-item routerLink="myProfile/{{user.userId}}">
          <mat-icon>face</mat-icon>
          <span>Perfil</span>
      </button>        
      <button class="logout" mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
      </button>
  </mat-menu>
</div>
</div>