.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem 2rem;
  }
  
  h1 {
    margin: 0;
    border: 1px solid rgb(148, 148, 148);
    padding: 0.4rem 2rem;
    border-radius: 5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }  
  
  button[mat-icon-button] {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }
  mat-menu {
    border-radius: 3rem;
  }
  .user-info {
    padding: 0.7rem 1.5rem;
    font-size: 0.95rem;
    color: #333;
    cursor: default;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .user-info:hover {
    background: transparent; /* nada de efeito hover */
  }
  
  