<mat-card class="card">
    <mat-card-header>      
      <mat-card-title>Gerenciador BDL</mat-card-title>
      <mat-card-subtitle>Brigada dos Lobos MC</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Gerenciador BDL">
    <mat-card-content>
      <p>
        Bem vindo ao sistemas Gerenciador BDL.
        Força e Honra
        Att. comando Nacional
      </p>
    </mat-card-content>
    <mat-card-actions>      
    </mat-card-actions>
  </mat-card>
  