<div class="container">
  <h1>Listando Sedes</h1>
  <button class="mat-elevation-z8" routerLink="create"
  mat-raised-button
  matTooltip="Criar uma nova Sede"
  aria-label="criar Sede" 
  mat-button>Nova Sede</button>
  <mat-form-field appearance="standard">
    <mat-label>Pesquisa</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Descrição/Cidade" #input>
  </mat-form-field>
  
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource"> 
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>      
          
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container> 

          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> Cidade </th>
            <td mat-cell *matCellDef="let element"> 
              {{element.address.city.name}} - {{element.address.city.uf.acronym}} </td>
          </ng-container>     

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element"> 
            <a routerLink="update/{{element.id}}">
              <i mat-raised-button
              matTooltip="Alterar este Registro"
              aria-label="Alterar sede" 
              class="material-icons edit">edit</i>
            </a>

            <a >
              <!-- (click)="openDialog(element.id)"  HAbilitar o Delete na LINHA 49-->
              <i class="material-icons delete" (click)="openDialog(element.id)"
              
              >delete</i>
            </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 50]"
                       showFirstLastButtons 
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>      
</div>