.container{
    height: 100%;
    color:white;    
    background: linear-gradient(119deg, rgba(0,0,0,1) 0%, rgba(32,32,33,1) 17%, rgba(145,145,145,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form{
    width: 30rem;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 4rem 1rem ;
    border-radius: 1rem;
}
h1{
    width: 100%;
    text-align: center;
    color: black;
}
img{
    height: 10rem;
    width: 100%;
    margin: .5rem auto .15rem auto;
}
.full-width{
    width: 100%;
}
button{
    margin-top: 1.5rem;
}