.container{
  width: 70%;    
  margin: auto;
  padding: 1rem 1rem 3rem 1rem;
  border-radius: .6rem;
}
.fullWidth{
  width: 100%;    
}
.container-list {
  width: 100%;
  margin: auto;
  border-radius: 1rem;
}
.form2{
  padding-top: 3rem;
}
h1{
  text-align: center;
}
img{
  max-width:245px;
  max-height:188px;
  width: auto;
  height: auto; 
  margin: 0rem auto 0rem auto;   
  display: block;
}

.mat-success {
  background-color: green;
  color: #fff;
  opacity: .8;
}
button{
  width: 40%;
  margin-top: .8rem;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: .4rem;
}
.cbb{
  margin-left: 8%;
  margin-right: 4%;
  color: black;
}
mat-icon{
  opacity: .5;
}
.midWidth{
  align-items: center;
  width: 40%;
  padding-right: 3.5%;
  padding-top: 1%;
}
table {
  width: 100%;
  align-content: center;
}

.morLessWidth{    
      width: 87%; 
}
.addButton{
  width: 3%;    
}
.clearButton{
  width: 3%;     
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
justify-content: space-between;
align-items: center;
}
.example-headers-align {
  margin-left: 8px;
}
.section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}