.container{
    height: 100%;
}

.sidenav{
    width: 13rem;
    color:white;    
    background: linear-gradient(119deg, rgba(0,0,0,1) 0%, rgba(32,32,33,1) 17%, rgba(145,145,145,1) 100%);

}

img{
    width: 100%;
    height: 12rem;
    margin: 0.1rem 0.1rem 0.rem 0.rem;
}
.sidenav a{
    color: white;    
}
.sidenav i{
    margin-right: .6rem;  
}
.menu {
    margin: 1rem 0 0 1rem;
    color:white;
    background: linear-gradient(119deg, rgba(0,0,0,1) 0%, rgba(32,32,33,1) 26%, rgba(145,145,145,1) 100%);
}
