.container{
    height: 100%;
}

.sidenav{
    width: 13rem;
    color:white;
    background: rgb(0,0,10);
    background: linear-gradient(90deg, rgba(0,0,10,1) 1%, rgba(11,13,54,1) 39%, rgba(4,196,235,1) 100%);

}

img{
    width: 100%;
    height: 7rem;
    margin: .8rem auto 1rem auto;
}
.sidenav a{
    color: white;    
}
.sidenav i{
    margin-right: .6rem;  
}
.menu {
    margin: 1rem 0 0 1rem;
    color:white;
    background: linear-gradient(90deg, rgba(0,0,10,1) 1%, rgba(11,13,54,1) 39%, rgba(4,196,235,1) 100%);
}
