.container{
    height: 100%;
}

.sidenav{
    width: 13rem;
    color:white;    
    background: linear-gradient(119deg, rgba(2, 2, 2, 0) 0%, rgb(7, 7, 7) 17%, rgb(109, 109, 109) 100%);
    border-radius: 0.5rem;
}

img{
    width: 99%;
    height: 10rem;
    border-radius: 0.3rem;
}
.sidenav a{
    color: white;    
}
.sidenav i{
    margin-right: .6rem;  
}
.menu {
    margin: 1rem 0 0 1rem;
    color:white;
    background: linear-gradient(119deg, rgba(0,0,0,1) 0%, rgba(32,32,33,1) 26%, rgba(145,145,145,1) 100%);
}
