<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <img src="assets/img/side-image.svg" alt="Imagem de navegação">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home" >
        <i class="material-icons">home</i>
        Home
      </a>
      <a mat-list-item routerLink="address">
        <i class="material-icons">markunread_mailbox</i>
        Endereços
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">post_add</i>
        Comunicados
      </a>
      <a mat-list-item routerLink="headQuarter">
        <i class="material-icons">flag</i>
        Sedes
      </a>
      <a mat-list-item routerLink="infraction">
        <i class="material-icons">assignment_late</i>
        Advertências
      </a>
       <a mat-list-item routerLink="member">
        <i class="material-icons">sports_motorsports</i>
        Membros
      </a>
       <a mat-list-item routerLink="memberPatch">
        <i class="material-icons">school</i>
        Graduações
      </a>
      <a mat-list-item routerLink="roleDuty">
        <i class="material-icons">stars</i>
        Cargos
      </a>
       <a mat-list-item routerLink="travelControl">
        <i class="material-icons">motorcycle</i>
        Controle de Viagens
      </a>       
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-header></app-header>
    <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button
    mat-raised-button
        matTooltip="Menu"
        aria-label="Expandir o menu navegação">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
