<div class="container mat-elevation-z8">
    <form class="form">
      <h1 class="fullWidth">Meu Perfil </h1>
      <div class="profile-container" (click)="alterarImagem()">
        <img
        class="profile-pic"
        src="assets/img/noProfile.png"
        alt="Foto de perfil"/>
        <div class="overlay">
          <mat-icon>edit</mat-icon>
        </div>
      </div>
      <div class="example-action-buttons">
        <button class="mat-elevation-z8" mat-button (click)="accordion.openAll()">Expandir Todos</button>
        <button class="mat-elevation-z8" mat-button (click)="accordion.closeAll()">Minimizar Todos</button>
      </div>
      <br />
  
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel (opened)="togglePersonal(true)" 
        (closed)="togglePersonal(false)">
          <mat-expansion-panel-header>
            <mat-panel-title> Dados Pessoais </mat-panel-title>
            <mat-panel-description> {{ panelPersonalOpen ? 'Click para Minimizar dados pessoais' : 'Click para Expandir dados Pessoais' }}
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Nome</mat-label>
            <input
              [(ngModel)]="member.firstName"
              name="firstName"
              [formControl]="firstName"              
              matInput
              readonly/>
            <mat-icon matSuffix>description</mat-icon>           
          </mat-form-field>  
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Sobre Nome</mat-label>
            <input
              [(ngModel)]="member.lastName"
              name="lastName"
              [formControl]="lastName"
              matInput
              readonly/>
            <mat-icon matSuffix>description</mat-icon>            
          </mat-form-field>  
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Apelido</mat-label>
            <input
              [(ngModel)]="member.nickName"
              name="nickName"
              [formControl]="nickName"            
              matInput              
              readonly/>
            <mat-icon matSuffix>description</mat-icon>            
          </mat-form-field>  
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>RG</mat-label>
            <input
              [(ngModel)]="member.rg"
              name="rg"
              [formControl]="rg"              
              mask="00.000.000-0"
              matInput              
              readonly/>
              <mat-icon matSuffix>pin</mat-icon>              
          </mat-form-field>  
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>cpf</mat-label>
            <input
              [(ngModel)]="member.cpf"
              name="cpf"
              [formControl]="cpf"             
              mask="000.000.000-00"
              matInput
              readonly/>
              <mat-icon matSuffix>pin</mat-icon>              
          </mat-form-field>  
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>cnh</mat-label>
            <input
              [(ngModel)]="member.cnh"
              name="cnh"
              [formControl]="cnh"            
              mask="00000000000"
              matInput              
              readonly/>
              <mat-icon matSuffix>pin</mat-icon>              
          </mat-form-field>
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Celular</mat-label>
            <input
              [(ngModel)]="member.celPhone"
              name="celPhone"
              [formControl]="celPhone"              
              mask="(00)00000-0000"
              matInput
              readonly/>
            <mat-icon matSuffix>phone_iphone</mat-icon>
          </mat-form-field>  
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Tel. Residencial</mat-label>
            <input
              [(ngModel)]="member.phone"
              name="phone"
              [formControl]="phone"
              mask="(00)0000-0000"
              matInput
              readonly/>
            <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>  
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Tel. Recado 1</mat-label>
            <input
              [(ngModel)]="member.familiarPhone1"
              name="familiarPhone1"
              [formControl]="familiarPhone1"
              mask="(00)0000-0000"
              matInput
              readonly/>
            <mat-icon matSuffix>contacts</mat-icon>
          </mat-form-field>  
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Tel. Recado 2</mat-label>
            <input
              [(ngModel)]="member.familiarPhone2"
              name="familiarPhone2"
              [formControl]="familiarPhone2"
              mask="(00)0000-0000"
              matInput
              readonly/>
            <mat-icon matSuffix>contacts</mat-icon>
          </mat-form-field>  
          <mat-form-field appearance="fill" class="midWidth">
            <mat-label>Data de Nascimento</mat-label>
            <input name="birthDate" matInput      
              [value]="birthDateStart"
              readonly   
              [matDatepicker]="birthDatePicker"  
              [formControl]="birthDateForm" />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(birthDatePicker)"></mat-datepicker-toggle>
            <mat-datepicker  #birthDatePicker color="primary"            
            ></mat-datepicker>
          </mat-form-field>  
          <mat-form-field
          class="midWidth"
            appearance="fill"
            mat-raised-button
            matTooltip="Tipo sanguíneo"
            aria-label="bloodType">
            <mat-label>Tipo sanguíneo</mat-label>
            <mat-select              
              name="bloodTypeMatSelected"
              [formControl]="bloodTypeMatSelected">
              <mat-option 
                *ngFor="let bloodTypeElement of bloodTypeList"
                [value]="bloodTypeElement.id">
                {{bloodTypeElement.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>        
        <br />
  
        <mat-expansion-panel (opened)="toggleAddress(true)" 
        (closed)="toggleAddress(false)">
          <mat-expansion-panel-header>
            <mat-panel-title> Dados de Endereço </mat-panel-title>
            <mat-panel-description> {{ panelAdressOpen ? 'Click para Minimizar dados de Endereço' : 'Click para Expandir dados de Endereço' }}             
              <mat-icon>signpost</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill" class="fullWidth">
            <mat-label>Logradouro</mat-label>
            <input
              matInput              
              name="addressLogradouro"
              [formControl]="addressLogradouro"
              readonly/>
          </mat-form-field>  
          <mat-form-field appearance="fill" class="midWidth">
            <mat-label>Cidade</mat-label>
            <input
              matInput              
              name="cityName"
              [formControl]="cityName"
              readonly/>
          </mat-form-field>  
          <mat-form-field appearance="fill" class="midWidth">
            <mat-label>CEP</mat-label>
            <input
              matInput              
              name="addressPostCode"
              [formControl]="addressPostCode"
              readonly/>
          </mat-form-field>  
        </mat-expansion-panel>          
        <br />

        <mat-expansion-panel (opened)="toggleHeadQuarter(true)" 
        (closed)="toggleHeadQuarter(false)">
          <mat-expansion-panel-header>
            <mat-panel-title> Dados da Sede </mat-panel-title>
            <mat-panel-description> {{ panelHeadQuarterOpen ? 'Click para Minimizar dados da Sede' : 'Click para Expandir dados da Sede' }}              
              <mat-icon>flag</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill" class="midWidth">
            <mat-label>Sede</mat-label>
            <input
              matInput                            
              name="headQuarterDescription"
              [formControl]="headQuarterDescription"
              readonly/>
          </mat-form-field>
          <mat-form-field appearance="fill" class="midWidth">
            <mat-label>Cidade da Sede</mat-label>
            <input
              matInput              
              name="headQuarterCity"
              [formControl]="headQuarterCity"
              readonly />
          </mat-form-field>           
          <mat-form-field appearance="fill" class="midWidth">
            <mat-label>Data de Admissão</mat-label>
            <input name="admissionDate"
              matInput [matDatepicker]="admissionDatePicker" 
              [value]="admissionDateStart"             
              [formControl]="admissionDateForm"  
              readonly/>
            <mat-datepicker-toggle
              matSuffix
              [for]="admissionDatePicker">
            </mat-datepicker-toggle>
            <mat-datepicker #admissionDatePicker color="primary"></mat-datepicker>
          </mat-form-field>   
        </mat-expansion-panel>        
        <br />

        <mat-expansion-panel (opened)="toggleTravels(true)" 
        (closed)="toggleTravels(false)">
          <mat-expansion-panel-header>
            <mat-panel-title> Dados de Km's Rodados </mat-panel-title>
            <mat-panel-description> {{ panelTravelsOpen ? 'Click para Minimizar dados de Kms' : 'Click para Expandir dados de  Kms' }}            
              <mat-icon>signpost</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field appearance="standard" class="searching">      
            <mat-label>Pesquisa</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Data/Local" #input>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>

          <div class="mat-elevation-z8">
            <mat-form-field appearance="fill" class="morLessWidth">
              <mat-label>Selecione um intervalo de datas</mat-label>
              <mat-date-range-input readonly [rangePicker]="dateRangepicker">
                <input 
                [formControl]="travelStartDateForm"
                [value]="travelStartDateStart"
                 readonly matStartDate placeholder="Data incio">
                <input (dateChange)="findTravelsByMemberId()"
                [formControl]="travelEndDateForm"
                [value]="travelEndDateStart"
                 readonly matEndDate placeholder="Data fim">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="dateRangepicker"></mat-datepicker-toggle>
              <mat-date-range-picker #dateRangepicker></mat-date-range-picker>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource">  
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>      
              
              <ng-container matColumnDef="travelDate">
                <th mat-header-cell *matHeaderCellDef> Data da Viagem </th>
                <td mat-cell *matCellDef="let element"> {{element.travelDate}} </td>
              </ng-container>      
            
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Numero </th>
                <td mat-cell *matCellDef="let element"> {{element.number}} </td>
              </ng-container>      
              
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> Origem e Destino </th>
                <td mat-cell *matCellDef="let element"> 
                  {{element.departureLocation}} á {{element.arrivalLocation}} </td>
              </ng-container>                 
  
              <ng-container matColumnDef="km">
                  <th mat-header-cell *matHeaderCellDef> Km's Rodados </th>
                  <td mat-cell *matCellDef="let element"> {{element.km}} </td>
                </ng-container>
  
              <ng-container matColumnDef="kmControl">
                  <th mat-header-cell *matHeaderCellDef> Contagem de Km </th>
                  <td mat-cell *matCellDef="let element"> {{element.kmControl}} </td>
              </ng-container>  
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[10, 20, 70]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>  

        </mat-expansion-panel>
        <br />

        <mat-expansion-panel (opened)="toggleAccess(true)" 
        (closed)="toggleAccess(false)">
          <mat-expansion-panel-header>
            <mat-panel-title> Dados de Acesso </mat-panel-title>
            <mat-panel-description> {{ panelAccessOpen ? 'Click para Minimizar dados de Acesso' : 'Click para Expandir dados de Acesso' }}            
              <mat-icon>key</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
  
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>E-mail</mat-label>
            <input
              [(ngModel)]="member.email"
              name="email"
              [formControl]="email"              
              matInput  
              readonly/>
            <mat-icon matSuffix>email</mat-icon>            
          </mat-form-field>
  
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Senha</mat-label>
            <input
              [(ngModel)]="member.password"
              name="password"
              [formControl]="password"
              required
              matInput
              type="password"
              placeholder="Ex.. 1234"
              maxlength="99"/>
            <mat-icon matSuffix>password</mat-icon>
            <mat-hint>100</mat-hint>
          </mat-form-field>
        </mat-expansion-panel>
  <!--
        <button
          [disabled]="!validaCampos()"
          class="button mat-elevation-z10"
          mat-raised-button
          color="success"
          mat-raised-button
          matTooltip="Salvar Associado"
          aria-label="Salvar Associado"
            (click)="update()" >
          Atualizar
        </button> -->

        <button
          routerLink="/home"
          class="button mat-elevation-z10"
          mat-flat-button
          color="warn"
          mat-raised-button
          matTooltip="Cancelar"
          aria-label="Cancelar">
          Cancelar
        </button>
      </mat-accordion>
    </form>
  </div>
  