<div class="container">
    <h1>Listando Associados</h1>
    <button *ngIf="authService.hasAnyRole(['ROLE_ADMIN', 'ROLE_DIRETOR'])" class="mat-elevation-z8" routerLink="create"
    mat-raised-button
    matTooltip="Criar um novo Associado"
    aria-label="criar Associado" 
    mat-button>Novo Associado</button>
    <mat-form-field appearance="standard">
      <mat-label>Pesquisa</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Nome/Apelido/Sede" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">  
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>      
            
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>      
          
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef> SobreNome </th>
              <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>      
            
            <ng-container matColumnDef="nickName">
              <th mat-header-cell *matHeaderCellDef> Apelido </th>
              <td mat-cell *matCellDef="let element"> 
                {{element.nickName}}</td>
            </ng-container>
  
            <ng-container matColumnDef="headQuarter">
              <th mat-header-cell *matHeaderCellDef> Sede </th>
              <td mat-cell *matCellDef="let element"> {{element.headQuarter.description}} </td>
            </ng-container>
  
            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef> Ações </th>
              <td mat-cell *matCellDef="let element" > 
              <a routerLink="update/{{element.id}}" >             
                 <i *ngIf="authService.hasAnyRole(['ROLE_ADMIN', 'ROLE_DIRETOR'])" mat-raised-button
                 matTooltip="Editar Este Associado"
                 aria-label="Editar Associado"          
                  class="material-icons edit">edit</i>
              </a>                
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 50]"
                         showFirstLastButtons 
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>      
  </div>