.container{
    width: 70%;    
    margin: auto;
    padding: 1rem 1rem 3rem 1rem;
    border-radius: .6rem;
}
.fullWidth{
    width: 95.5%;    
}
.container-list {
    width: 100%;
    margin: auto;
    border-radius: 1rem;
}
h1{
    text-align: center;
}
img{
    max-width:245px;
    max-height:188px;
    width: auto;
    height: auto; 
    margin: 0rem auto 0rem auto;   
    display: block;
}

.mat-success {
    background-color: green;
    color: #fff;
    opacity: .8;
}
button{
    width: 40%;
    margin-top: .8rem;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: .4rem;
}

mat-icon{
    opacity: .5;
}
.midWidth{
    align-items: center;
    width: 46%;
    padding-right: 3.5%;
    padding-top: 1%;
}
.midWidthWithButton{
    align-items: center;
    width: 44%;
    padding-right: 1%;
    padding-top: 1%;
}
table {
    width: 100%;
    align-content: center;
}

.morLessWidthBtn{    
    align-items: center;
    width: 46%;
    padding-right: 3.5%;
    padding-top: 1%;
}
.addButton{
    width: 3%;    
}
.clearButton{
    width: 3%;    
    margin-left: 1%;
    margin-right: 1%;
}
.section {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
 }