<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Cadatrar Endereço</h1>
        <img class="fullWidth" src="assets/img/create/address-create.svg" alt="Portal BDL">

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Logradouro</mat-label>
            <input [formControl]="logradouro"
            required
             matInput placeholder="Rua/Av/Travessa"
             maxlength="99">
            <mat-icon matSuffix>signpost</mat-icon>
            <mat-hint>100</mat-hint>
          </mat-form-field>
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Numero</mat-label>
            <input [formControl]="number"
            required
              matInput placeholder="Numero"
              maxlength="10">
            <mat-icon matSuffix>pin</mat-icon>
            <mat-hint>10</mat-hint>
          </mat-form-field>
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>CEP</mat-label>
            <input [formControl]="postCode"
            required
            mask="00000-000"
              matInput placeholder="00000-000">
            <mat-icon matSuffix>local_post_office</mat-icon>
            <mat-hint>7</mat-hint>
          </mat-form-field>
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Complemento</mat-label>
            <input [formControl]="complement"            
              matInput placeholder="Ex. Bloco1/Ap1"
              maxlength="20">
            <mat-icon matSuffix>description</mat-icon>
            <mat-hint>20</mat-hint>
          </mat-form-field>
           
          <mat-form-field class="cbb" appearance="fill">
            <mat-label>Selecione o Pais</mat-label>
            <mat-select>
              <mat-option value="option">Brasil</mat-option>
            </mat-select>            
          </mat-form-field>
          <mat-form-field class="cbb" appearance="fill">
            <mat-label>Selecione o UF</mat-label>
            <mat-select>
              <mat-option value="option">São Paulo</mat-option>
              <mat-option value="option">Paraná</mat-option>
            </mat-select>            
          </mat-form-field>
          <mat-form-field class="cbb" appearance="fill">
            <mat-label>Selecione a Cidade</mat-label>
            <mat-select>
              <mat-option value="option">Maringá</mat-option>
              <mat-option value="option">Pres. Prudente</mat-option>
            </mat-select>            
          </mat-form-field>
        
          <button [disabled]="!validaCampos()"
          class="button mat-elevation-z10" mat-raised-button color="success">Cadastrar</button>
          <button routerLink="../" class="button mat-elevation-z10" 
          mat-flat-button color="warn">Cancelar</button>
    </form>
</div>