.container{
    width: 70%;    
    margin: auto;
    padding: 1rem 1rem 3rem 1rem;
    border-radius: .6rem;
}
.fullWidth{
    width: 100%;
}
h1{
    text-align: center;
}
img{
    height: 8rem;
    margin: auto;
}

.mat-success {
    background-color: green;
    color: #fff;
}
button{
    width: 40%;
    margin-top: .8rem;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: .4rem;
}
.cbb{
    margin-left: 8%;
    margin-right: 4%;
    color: black;
}
mat-icon{
    opacity: .5;
}