<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Atualizar Cargo</h1>
        <img class="fullWidth" src="assets/img/create/address-create.svg" alt="Portal BDL">        

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Nome do Cargo</mat-label>
            <input 
                [(ngModel)]="roleDuty.roleName"
                name="roleName"
                [formControl]="roleName"
                required
                matInput placeholder="Nome do Cargo"
                maxlength="99">
            <mat-icon matSuffix>description</mat-icon>
            <mat-hint>100</mat-hint>
          </mat-form-field>  

         <mat-form-field appearance="fill" class="midWidth">
          <mat-label>Data de Inicio</mat-label>
          <input name="startDate" [matDatepicker]="startDatePicker" 
              [value]="startDateStart"
              matInput  
              [formControl]="startDateForm"  
              readonly    
              (dateChange)="addStartDate($event.target.value)"/>
          <mat-datepicker-toggle
            matSuffix
            [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker color="primary"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="midWidth">
            <mat-label>Data de Inativação</mat-label>
            <input name="endDate" [matDatepicker]="endDatePicker" 
                [value]="endDateStart"
                matInput 
                [formControl]="endDateForm"  
                readonly    
                (dateChange)="addEndDate($event.value)"/>
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker color="primary"></mat-datepicker>
          </mat-form-field>

          <button
              mat-mini-fab
              class="clearButton mat-elevation-z8"
              color="warn"
              aria-label="limpar"
              mat-raised-button
              matTooltip="Limpar Data de Inativação"
              aria-label="Limpar Data de Inativação"
              (click)="clearEndDate()">
          <mat-icon>clear</mat-icon>
        </button>        

          <mat-form-field appearance="fill" class="midWidth">
            <mat-label>Associado selecionado</mat-label>
            <input matInput placeholder="Associado não selecionado" 
                name="memberName"
                [formControl]="memberName"
                readonly/>
          </mat-form-field>

          <mat-form-field appearance="fill" class="midWidth">
            <mat-label>Sede selecionada</mat-label>
            <input matInput placeholder="Sede não selecionada" 
                name="headQuarter"
                [formControl]="headQuarter"
                readonly/>
          </mat-form-field>            
          
          <button mat-mini-fab  class="clearButton mat-elevation-z8" 
                    color="warn" aria-label="limpar"
                    mat-raised-button
                    matTooltip="Limpar Associado"
                    aria-label="Limpar Associado"
                    (click)="clearMember()">                    
                    <mat-icon>clear</mat-icon>
          </button>

          <mat-form-field appearance="standard" class="fullWidth">
            <mat-label>Pesquisar Associado</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Nome/SobreNome/Apelido" #input>
            <mat-icon matSuffix>search</mat-icon>            
          </mat-form-field>          

          <div class=" container-list mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">  
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>      
              
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
              </ng-container>      
            
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Sobre Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
              </ng-container>      
              
              <ng-container matColumnDef="nickName">
                <th mat-header-cell *matHeaderCellDef> Apelido </th>
                <td mat-cell *matCellDef="let element"> 
                 {{element.nickName}}</td>
              </ng-container>
    
              <ng-container matColumnDef="headQuarter">
                <th mat-header-cell *matHeaderCellDef> Sede </th>
                <td mat-cell *matCellDef="let element"> {{element.headQuarter.description}} </td>
              </ng-container>
    
              <ng-container matColumnDef="acoes">
                <th  mat-header-cell *matHeaderCellDef> Ações </th>
                <td  mat-cell *matCellDef="let element"> 
                  <div >
                    <button  mat-mini-fab 
                      class="mat-elevation-z8" placeholder="Selecionar"
                      color="success" aria-label="Selecionar"
                      (click)="selectMember(element.id, element.firstName +' - ' + element.lastName
                      , element.headQuarter.description)">
                      <mat-icon mat-raised-button
                      matTooltip="Selecionar este Associado"
                      aria-label="Selecionar Associado" >done_outline</mat-icon>
                    </button>
                  </div>                   
                  
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 50]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>  
          <button [disabled]="!validaCampos()"
              class="button mat-elevation-z10" mat-raised-button color="success"
              mat-raised-button
              matTooltip="Salvar Cargo"
              aria-label="Salvar Cargo"
              (click)="update()">Cadastrar
          </button>
          <button routerLink="../../" class="button mat-elevation-z10" 
              mat-flat-button color="warn"
              mat-raised-button
              matTooltip="Cancelar"
              aria-label="Cancelar" >Cancelar
          </button>
    </form>
</div>